<nav>
  <ul>
    <div>
      <li>
        <a href="/"><img src="img/logoVidev.png" alt="rtgttr" /></a>
      </li>
    </div>
    <div class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/">Category</a></li>
      <li><a href="/">News</a></li>
      <li><a href="/">My space</a></li>
    </div>
    <div>
      <li>
        <button><i class="bi bi-search"></i></button>
      </li>
      <li>
        <button><i class="bi bi-person-circle"></i></button>
      </li>
    </div>
  </ul>
</nav>
