<nav>
  <ul>
    <div>
      <li>
        <a href="/"><img src="img/logoVidev.png" alt="Logo de Videv" /></a>
      </li>
    </div>
    <div class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/">Category</a></li>
      <li><a href="/">News</a></li>
      <li><a href="/">My space</a></li>
    </div>
    <div>
      <li>
        <button><i class="bi bi-search"></i></button>
      </li>
      <li>
        <button><i class="bi bi-person-circle"></i></button>
      </li>
    </div>
  </ul>
  <div class="hamburger">
    <button>
      <i class="bi bi-list"></i>
      <i class="bi bi-x display-none"></i>
    </button>
    <ul>
      <li>
        <a href="/"><img src="img/logoVidev.png" alt="Logo de Videv" /></a>
      </li>
      <li><a href="/">Home</a></li>
      <li><a href="/">Category</a></li>
      <li><a href="/">News</a></li>
      <li><a href="/">My space</a></li>
      <li><a href="/">Sign in</a></li>
      <li>
        <a href="/"><i class="bi bi-search"></i></a>
      </li>
    </ul>
  </div>
</nav>
