<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="libs/css/bootstrap-icons.css" />
    <link rel="stylesheet" href="libs/css/slick.css" />
    <link rel="stylesheet" href="libs/css/slick-theme.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Videv</title>
  </head>
  <body>
    <header><%- include('../partials/navbar') %> <%- include('../partials/banner'); %></header>
    <main><%- body %></main>
    <%- include('../partials/footer') %>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="libs/js/slick.js"></script>
    <script src="scripts/carousel.js"></script>
  </body>
</html>
